@model List<Store.Models.EF.Product>

@{
    ViewBag.Title = "Thông Tin tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main">
    <div class="wrap">
        <div class="section group">
            <div class="cont span_2_of_3">
                    
                @if (ViewBag.Search.Count >0 )
                {<h2 class="head">Thông tin tìm kiếm</h2>
                    foreach (var item in Model)
                    {

                        if (item.PromotionPrice.HasValue)
                        {
                            var url = "/chi-tiet/" + item.Metatile + "-" + item.ID;
                            <div class="col_1_of_3 span_1_of_3 ">
                                <a href="@url">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="@item.Images" alt="@item.Name">
                                        </div>
                                        <div class="sale-box1"><span class="on_sale title_shop">Sale</span></div>
                                        <div class="price">
                                            <div class="cart-left">
                                                <p class="title">@item.Name</p>
                                                <div class="price1">
                                                    <span class="reducedfrom">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                                    <span class="actual">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên hệ")</span>
                                                </div>
                                            </div>
                                            <div class="cart-right"> </div>
                                            <div class="clear"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>

                        }
                        else if (item.CreatedDate < DateTime.Now)
                        {
                            foreach (var itemnew in ViewBag.ListnewProduct)
                            {
                                var url = "/chi-tiet/" + item.Metatile + "-" + item.ID;
                                <div class="col_1_of_3 span_1_of_3 ">
                                    <a href="@url">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">
                                                <img src="@item.Images" alt="@item.Name">
                                            </div>
                                            <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                            <div class="price">
                                                <div class="cart-left">
                                                    <p class="title">@item.Name</p>
                                                    <div class="price1">

                                                        <span class="actual">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                                    </div>
                                                </div>
                                                <div class="cart-right"> </div>
                                                <div class="clear"></div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            }

                        }
                        else
                        {
                            var url = "/chi-tiet/" + item.Metatile + "-" + item.ID;
                            <div class="col_1_of_3 span_1_of_3 ">
                                <a href="@url">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="@item.Images" alt="@item.Name">
                                        </div>

                                        <div class="price">
                                            <div class="cart-left">
                                                <p class="title">@item.Name</p>
                                                <div class="price1">

                                                    <span class="actual">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                                </div>
                                            </div>
                                            <div class="cart-right"> </div>
                                            <div class="clear"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        }



                    }
                }
                else
                {
                    <h2 class="head">Không tìm thấy kết quả</h2>
                }





            </div>

            @{Html.RenderAction("ProductCategory", "Product");}

        </div>

        <div class="clear"></div>
    </div>
</div>
